$white: #fff;

.layout {
  height: 100%;

  .header {
    background: $white;
    text-align: right;
  }

  .content {
    padding: 20px 30px;
    height: 100%;
    overflow: auto;
  }

  .inner-content {
    padding: 20px;
    min-height: 100%;
    background: $white;
  }
}